<% products.forEach((product) => { %>
    <div class="card">
        <img src="<%=product.imgurl%>" alt="Denim Jeans" style="width:100%">
        <h1><%= product.title %></h1>
        <p class="price"><%= product.price %>$</p>
        <p><%= product.description %></p>
        <% if (locals.user.username == "admin") { %>
            <p><button><a href="/products" onclick="fetch('/products/<%=product.id%>', {method: 'DELETE'})">Delete</a></button></p>
            <p><button><a href="/productForm/<%=product.id%>">Update</a></button></p>
        <% } else { %>
            <p>
                <!-- <button onclick="fetch('/addToCard', {method: 'POST'}, {body: {'productId': '<%=product.id%>', 'userId': '<%=locals.user.id%>'}})"> -->
                <button>
                    <p>
                        <%=product.id%>
                        <%=locals.user.id%>
                    </p>
                    <form action="/addToCard" method="post">
                        <input type="number" name="userId" value="<%=locals.user.id%>" hidden>
                        <input type="number" name="productId" value="<%=product.id%>" hidden>
                        <input type="submit" value="Add to card">
                    </form>
                </button>
            </p>
        <% } %>
    </div>
<% }) %>